table { 
    width: 100%
}
td {
    width: calc(100% / 8);
    height: 60px;
    border-radius: 2px;
    text-align: center;
}
td > button {
    font-size: 18px;
}
.today > button {
    background-color: #05445E;
    color: #D4F1F4;
    font-size: 21px;
}
.cambiaview {
    text-align: center;
    margin-bottom: 10px;
}
.green {
    background-color: #75E6DA
}
.grotto {
    background-color: #189AB4
}
.darkB {
    background-color: #05445E;
}
.operazione {
    font-size: 30px;
    margin: 0 10px;
    width: 80px;
    z-index: 10;
    height: 60px;
}
.question {
    font-size: 750px;
    position: fixed;
    color: rgba(100, 100, 100, .8);
    top: -144px;
    left: 10px;
    z-index: -99;
    transform: rotate(180deg);
}