<br>
<br>
<div *ngIf="DBSer.currentUser">
  <div class="cambiaview">
    <button mat-icon-button (click)="cambiaWeekView('-')">
      <mat-icon aria-label="Example icon-button with a heart icon">chevron_left</mat-icon>
    </button>
    <button mat-stroked-button style="background-color: rgba(175, 175, 226, 0.4); margin: 0 17px" (click)="cambiaWeekView('0')">oggi</button>
    <button mat-icon-button color="primary" (click)="cambiaWeekView('+')">
      <mat-icon aria-label="Example icon-button with a heart icon">chevron_right</mat-icon>
    </button>
  </div>
  <br>
  <table *ngIf="DBSer.week">
    <thead>
      <tr>
        <th></th>
        <th *ngFor="let item of DBSer.week">
          <font *ngIf="item.data" >{{item.data | date:'dd/MM EEE'}}</font>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          EI
          <i class="material-icons">
            child_care
          </i>
        </td>
        <td *ngFor="let item of DBSer.week" [class]="addTodayClass(item.data)" (click)="aggiungiEgo(item, 'EI')">
          <button class="grotto" mat-fab>{{DBSer.mod ? item.EI1 : item.EI}}</button>
        </td>
      </tr>
      <tr>
          <td>
            EN
            <i class="material-icons">
              hearing
            </i>
          </td>
        <td *ngFor="let item of DBSer.week" [class]="addTodayClass(item.data)" (click)="aggiungiEgo(item, 'EN')">
          <button class="green" mat-fab >{{DBSer.mod ? item.EN1 : item.EN}}</button>
        </td>
      </tr>
      
      <tr>
          <td>
            EP
            <i class="material-icons">
              videocam
            </i>
          </td>
        <td *ngFor="let item of DBSer.week" [class]="addTodayClass(item.data)" (click)="aggiungiEgo(item, 'EP')">
            <button class="grotto" mat-fab>{{DBSer.mod ? item.EP1 : item.EP}}</button>
        </td>
      </tr>
      <tr>
          <td>
            ED
            <i class="material-icons">
              security
            </i>
          </td>
        <td *ngFor="let item of DBSer.week" [class]="addTodayClass(item.data)" (click)="aggiungiEgo(item, 'ED')">
            <button class="green" mat-fab>{{DBSer.mod ? item.ED1 : item.ED}}</button>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <br>
  <br>
  <div class="cambiaview">
    <button *ngIf="DBSer.numEgo < 0" (click)="cambiaOperazione('+')" class="grotto operazione" mat-raised-button>+ 1</button>
    <button *ngIf="DBSer.numEgo > 0" (click)="cambiaOperazione('-')" class="darkB operazione" mat-raised-button>- 1</button>
    <button *ngIf="DBSer.mod" (click)="cambiaMod(0)" class="grotto operazione" mat-raised-button>!</button>
    <button *ngIf="!DBSer.mod" (click)="cambiaMod(1)" class="darkB operazione" mat-raised-button>?</button>
  </div>
</div>
<span *ngIf="DBSer.mod" class="question">?</span>