#customBtn {
    background: white;
    color: #444;
    width: 190px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    margin: 150px auto;
}
#customBtn:hover {
    cursor: pointer;
}
img {
    display: block;
    margin: 50px auto;
}
span.label {
    font-family: serif;
    font-weight: normal;
}
span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 42px;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
}
span.icon {
    background: url('../../assets/googleIcon.png') transparent 0px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
    margin-left: 15px;
}