<img src="assets\images\icons\icon-192x192.png">
<div (click)="googleLogin()" id="gSignInWrapper">
    <div id="customBtn" class="customGPlusSignIn">
        <span class="icon"></span>
        <span class="buttonText">Entra con Google</span>
    </div>
</div>